{% extends "base.html" %}

{% block extrastyle %}
    <style>
        #root {
            height: 100%;
        }

        #points {
            font-size: 150pt;
            text-align: center;
            margin: auto;
        }

        #user_table {
            list-style: none;
            float: right;
            overflow-y: auto;
            width: auto;
            height: 100%;
        }

        .friend_container {
            background: #ffffff;
            padding: 5px;
            margin: 5px 20px 5px 0px;
            width: 222px;
        }

        .friend_cell {
            border: 1px solid #555555;
            padding: 10px;
            width: 200px;
        }

        .friend_cell .friend_points {
            font-size: 15pt;
            margin: auto;
            display: inline-block;
            vertical-align: middle;
        }

        .friend_cell .username {
            font-size: 16pt;
        }

        .center {
            height: 100%;
            overflow-x: hidden;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="root">
        <ul id="user_table">
            {% for friend in request.user.friends %}
                <li class="friend_container">
                    <div class="friend_cell">
                        <img class="avatar" style="float:left"
                             src="//graph.facebook.com/{{ friend.facebook_id }}/picture?width=74&height=74"/>

                        <div style="float:left; margin-left:10px; width:116px">
                            <span class="username">{{ friend.name }}</span>
                            <br>
                            <span class="friend_points" style="font-weight:500">100 pts</span>
                        </div>
                        <div style="clear:both"></div>
                        <form action="{% url 'views.transaction' %}" method="get">
                            {% csrf_token %}
                            <input type="hidden" value="{{ friend.facebook_id }}" name="facebook_id"/>
                            <input type="submit" value="Give"/>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="center">
            <form action="{% url 'views.search_results' %}" method="post">
                {% csrf_token %}
                <input type="text" name="search_term" placeholder="Search Users"/>
                <input type="submit" value="GO"/>
            </form>
            <div id="points">
                {{ request.user.points }}
            </div>
            <div>
                <div class="transaction" style="padding:20px">
                    <img class="avatar" style="float:left; margin:10px;"
                         src="//graph.facebook.com/{{ request.user.facebook_id }}/picture?width=74&height=74"/>

                    <div style="padding:10px; font-size: 16pt">
                        You gave <span class="friend_points">5 pts</span> to <span class="username">The Pony</span>
                        <hr>
                        <img style="padding: 10px" src="https://31.media.tumblr.com/fe845e1688adc444f3d4d91aec5fabf3/tumblr_inline_n1zkej5FN81sxv97z.jpg"/>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>

    </div>
{% endblock %}

{% block extrascript %}
{% endblock %}